{%extends 'base.html'%}
{%block body%}
<div class="container">
<h2>{{current_user.username}},</h2>
<a href="{{url_for('account',username=current_user.username)}}">&#10094;</a>
<form action="" method="post" enctype="multipart/form-data">
	{{form.hidden_tag()}}
	<p>
		{{form.title(class="form-control",placeholder="enter title")}}<br>
		{%for error in form.title.errors%}
		<span style="color: red;">{{error}}</span>
		{%endfor%}
	</p>
	<p>
		{{form.post(class="form-control",placeholder="enter description")}}<br>
		{%for error in form.post.errors%}
		<span style="color: red;">{{error}}</span>
		{%endfor%}
	</p>
		<div class="form-group">
		{{form.picture.label}}
		{{form.picture(class="form-control-file")}}<br>
		{%if form.picture.errors%}
		{%for error in form.picture.errors%}
		<span class="text-danger">{{error}}</span><br>
		{%endfor%}
		{%endif%}
	</div>
	<p>
		{{form.submit(class="btn btn-primary btn-xs")}}
	</p>
	
	
</form>
</div>
{%endblock body%}