{%extends 'base.html'%}
{%block body%}
<div class="container">
	<br>
	<a href="{{url_for('account',username=current_user.username)}}" class="btn btn-outline-secondary btn-md">Back</a>
<form action="" method="post" role="form" enctype=multipart/form-data>
	{{form.hidden_tag()}}
	<h2>Edit your profile</h2>
	<div class="form-group">
		{{form.FirstName.label}}{{form.FirstName(class="form-control")}}
		{%if form.FirstName.errors%}
		{%for error in form.FirstName.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.LastName.label}}{{form.LastName(class="form-control")}}
		{%if form.LastName.errors%}
		{%for error in form.LastName.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.username.label}}{{form.username(class="form-control")}}
		{%if form.username.errors%}
		{%for error in form.username.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.bio.label}}{{form.bio(class="form-control")}}
		{%if form.bio.errors%}
		{%for error in form.bio.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.location.label}}{{form.location(class="form-control")}}
		{%if form.location.errors%}
		{%for error in form.location.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.phoneNumber.label}}{{form.phoneNumber(class="form-control")}}
		{%if form.phoneNumber.errors%}
		{%for error in form.phoneNumber.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.email.label}}{{form.email(class="form-control")}}
		{%if form.email.errors%}
		{%for error in form.email.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.occupation.label}}{{form.occupation(class="form-control")}}
		{%if form.occupation.errors%}
		{%for error in form.occupation.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.fbLink.label}}{{form.fbLink(class="form-control")}}
		{%if form.fbLink.errors%}
		{%for error in form.fbLink.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.igLink.label}}{{form.igLink(class="form-control")}}
		{%if form.igLink.errors%}
		{%for error in form.igLink.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.WaLink.label}}{{form.WaLink(class="form-control")}}
		{%if form.WaLink.errors%}
		{%for error in form.WaLink.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.twtLink.label}}{{form.twtLink(class="form-control")}}
		{%if form.twtLink.errors%}
		{%for error in form.twtLink.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<br>

	<div class="form-group">
		{{form.about.label}}
		{{form.about(class="form-control")}}<br>
		{%if form.about.errors%}
		{%for error in form.about.errors%}
		<span class="text-danger">{{error}}</span>
		{%endfor%}
		{%endif%}
	</div>
	<div class="form-group">
		{{form.picture.label}}
		{{form.picture(class="form-control-file")}}<br>
		{%if form.picture.errors%}
		{%for error in form.picture.errors%}
		<span class="text-danger">{{error}}</span><br>
		{%endfor%}
		{%endif%}
	</div>
	<br>
	<div class="form-group">
		{{form.submit(class="btn btn-outline-primary btn-md")}}
	</div>
</form>
</div>
{%endblock body%}