{%extends 'base.html'%}
{%block body%}
<div class="container" style="margin-top: 80px;">
	<a href="{{url_for('account',username=current_user.username)}}" class="btn btn-warning btn-xs">Back</a>
		<h1>Tweak your post a lil</h1>
	<form action="" method="post">
		{{form.hidden_tag()}}
			<p>
		{{form.title(class="form-control",placeholder="enter title")}}<br>
		{%for error in form.title.errors%}
		<span style="color: red;">{{error}}</span>
		{%endfor%}
	</p>
	<p>
		{{form.post(class="form-control",placeholder="enter description")}}<br>
		{%for error in form.post.errors%}
		<span style="color: red;">{{error}}</span>
		{%endfor%}
	</p>
		<div class="form-group">
		{{form.picture.label}}
		{{form.picture(class="form-control-file")}}<br>
		{%if form.picture.errors%}
		{%for error in form.picture.errors%}
		<span class="text-danger">{{error}}</span><br>
		{%endfor%}
		{%endif%}
	</div>
			{{form.submit(class="btn btn-primary btn-md")}}
	</form>
	</div>
</div>
{%endblock body%}