{%extends 'base.html'%}
{%block body%}
  <div class="form px-5 py-5 justify-content-center">
    <div class="register-form col-xl-8 bg-white shadwo-lg p-5 m-auto">
      <form action="" method="POST" novalidate role="form" enctype=multipart/form-data>
        {{form.hidden_tag()}}
      <div>
        <h2 class="text-muted">Login</h2>
        <div class="form-field m-1" >
          {{form.username(class="form-control",placeholder="username")}}
            {%for error in form.username.errors%}
          <p style="color:red;">{{error}}</p>
          {%endfor%}
        </div>


        <div class="form-field m-1" >
          {{form.password(class="form-control",placeholder="password")}}
            {%for error in form.password.errors%}
            <p style="color:red;">{{error}}</p>
          {%endfor%}
        </div>

        <div class="form-field m-1">
          {{form.submit(class="btn btn-outline-primary btn-md")}}
        </div>
      </div>
    </form>
    <p class="text-info">Don't have an account? <span><a href="{{url_for('register')}}">Register</a></span></p>
    </div>
  </div>
{%endblock body%}